@import url('./styles/variable.css');

html,
body {
  height: 100%;
  color: var(--color-font);
  font-family: var(--font);
  background-color: var(--bg-color);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d6d9e4;
    border: none;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #d6d9e4;
  }
}

a {
  color: var(--theme-color);
  text-decoration: none;
}

a:hover {
  color: var(--theme-color);
}
